<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resoluciones</title>

    <style>
        table {
            width: 100%;
            border-collapse: collapse; /* Bordes simples */
        }
        th, td {
            border: 1px solid black; /* Bordes de las celdas */
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2; /* Fondo de las cabeceras */
        }
    </style>

</head>
<body>
    <h1>Resoluciones</h1>
    <p>Lista de Resoluciones</p>


    <table>
        <thead>
            <tr>
                <th>Número</th>
                <th>Fecha</th>
                <th>Sumario</th>
                <th>Observaciones</th>
            </tr>
        </thead>
        <tbody>
            {% for resolucion in misresoluciones %}
                <tr>
                    <td>{{ resolucion.numero }}</td>
                    <td>{{ resolucion.fecha }}</td>
                    <td>{{ resolucion.sumario }}</td>
                    <td>{{ resolucion.observaciones }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No se encontraron resoluciones.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>